@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #2F934B;
  --color-secondary: #81efa0;
  --color-tertiaty: #3df772;
}

a:hover {
  cursor:pointer;
 }

a { 
  @apply text-green-700;
}

a:hover {
  @apply border-b-2 border-green-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
